* {
	transition: 0.5s ease;
	box-sizing: border-box;
}
body {
	background-color: #e6b800;
	color: white;
	font-family: 'Raleway', sans-serif;
	margin: 0;
}
main {
	text-align: center;
	width: 100%;
	padding: 30px 10vw;
}
main > div {
	background-color: #ff9999;
	box-shadow: -8px 12px 10px #ff6666;
	margin: 1%;
	vertical-align: top;
	text-align: left;
}
nav {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 55px;
	background-color: #ff9999;
	text-align: center;
}
nav ul {
	width: 55px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
nav ul li {
	color: white;
	font-size: 1.5rem;
	padding: 15px 0;
}
nav ul li:nth-child(1) {
	background-color: #ff9999;
}
nav ul li i {
	cursor: pointer;
}
nav ul li span {
	opacity: 0;
	position: absolute;
	left: 65px;
	white-space: pre;
}
nav.open {
	width: 25vw;
	text-align: left;
}
nav.open ul {
	text-align: center;
}
nav.open ul li span {
	opacity: 1;
}
.user {
	padding: 50px;
	width: 48%;
	float: left;
}
.user img {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	box-shadow: -4px 6px 10px #ff6666;
	object-fit: cover;

}
.footer {
	float: left;
	width: 48%;
	padding: 20px 0;
}
.footer ul {
	list-style-type: none;
}
.footer ul li {
	display: inline-block;
	margin: 0 2%;
}
.footer ul li a {
	color: white;
	text-decoration: none;
	font-size: 25px;

}
.footer a:hover {
	text-shadow: 0 0 15px #FFF;
}
.stats {
	width: 48%;
	min-height: 300px;
	padding: 50px;
	float: right;
}
.stats button {
	background: none;
	border: 3px solid #ff6666;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	border-radius: 30px;
	display: block;
	margin: auto;
	margin-top: 25px;
	padding: 12px 30px;
}
.stats button:hover {
	background-color: #ff6666;
	color: white;
}
.stats #progress {
	height: 70px;
	width: 100%;
	background-color: #ffaa80;
	position: relative;
}
.stats #progress #progress-percent {
	margin: 0;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.stats #progress #progress-inner {
	height: 100%;
	background-color: #ff884d;	
}
.active {
	float: right;
	width: 48%;
	padding: 50px;
}
#time {
	text-align: right;
}